{% extends "layout.html" %}

{% block content %}
<div class="about">
    <p class="about_p">
        Turn based adventure game allowing people to create their own dungeons.
    </p>
    <p class="about_p">
        Website for creating dungeon for adventure games. With secure login/registration. Data stored
        with MongoDB. Site routing with python and flask. Form validation and password hashing included. 
        Site designed and formated using native html and css.
    </p>
</div>
{% endblock %}