{% extends "layout.html" %}

{% block content %}
<h1 id="pi">Dungeon Page</h1>
<div class="dungeon_map">
    <h3>Map</h3>
    <div id="dots">
<table>
{% for i in range(40) %}
    <tr>
    {% for j in range(100) %}
        <td id="{{i}}.{{j}}">.</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>
    </div>
</div>
<div class="dungeon_info">
    <h3>Info</h3>
    <div class="info">
    {% for item in info %}
        {% for i in item %}
            {% if item[i] and i != 'id' %}
            <p>{{i}} : {{item[i] }}</p>
            {% endif %}
        {% endfor %}
        <a class="room_edit" href="{{url_for('room')}}{{item.room_name}}">Edit</a>
    {% endfor %}
    <br>
    <br>
    <button onclick="myFunction()">Update</button>
    </div>
</div>
<script type="text/javascript">
    myFunction("info");
</script>
{% endblock %}