{% extends "layout.html" %}

{% block content %}
<h1>Dungeon Page</h1>
<div class="dungeon_map">
    <h3>Map</h3>
    <div class="dots">
{% for i in range(40) %}
    {% for j in range(100) %}
    .
    {% endfor %}
    <br>
{% endfor %}
    </div>
</div>
<div class="dungeon_info">
    <h3>Info</h3>
    <div class="info">
    {% for item in info %}
        {% for i in item %}
            <p>{{i}} : {{item[i] }}</p>
        {% endfor %}
        <a class="room_edit" href="{{url_for('room')}}{{item.room_name}}">Edit</a>
    {% endfor %}
    <br>
    <br>
    <button>Update</button>
    </div>
</div>
{% endblock %}
<script>
    function myFunction() {
        var x = document.getElementByClass("dots").textContent;
    }
</script>