{% extends "layout.html" %}

{% block content %}
<fieldset>
    <legend class="login_fieldset">Login</legend>
    <form name="login" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=35)}}
            {% for error in form.email.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=35)}}
            {% for error in form.password.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.submit()}}
        </p>
    </form>
</fieldset>
{% endblock %}