{% extends "layout.html" %}

{% block content %}
<h1>Room Page</h1>
<p>Room Name: {{info.room_name}}</p>
<form>
    <p>Room Name:<input type="text" value="{{info.room_name}}"</p>
    <p>Length:<input type="text" value="{{info.length}}"></p>
    <p>Width:<input type="text" value="{{info.width}}"></p>
    <p>X Position:<input type="text" value="{{info.pos_x}}"></p>
    <p>Y Position:<input type="text" value="{{info.pos_y}}"></p>
<button>Update</button>
</form>
<br>
_
{%- for x in range(info.width) -%}
    _
{%- endfor -%}
<br>
{%- for i in range(info.width) -%}
    |
    {%- for j in range(info.length) %}
        <label>.</label>
    {% endfor -%}
    |
    <br>
{%- endfor -%}
_
{%- for x in range(info.width) -%}
_
{%- endfor -%}
<br>
{% endblock %}