{% extends "layout.html" %}

{% block content %}
<table id="room_table">
    <tr>
        <th>Room ID</th>
        <th>Room Name</th>
        <th>Length</th>
        <th>Width</th>
        <th>Add Room</th>
    </tr>
    {% for data in roomData %}
    <tr>
        <td>{{ data.roomID }}</td>
        <td>{{ data.roomName }}</td>
        <td>{{ data.length }}</td>
        <td>{{ data.width }}</td>
        <td>
            <form action="{{ url_for('edit_room')}}" method="POST">
                <input type="hidden" name="roomID" value="{{data['roomID']}}">
                <button class="room_button">Add to Dungeon</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}